"ButtonText","ButtonValue"
"Phone Number test","1-866-312-8782 ext. 1121"
"Ticket on Hold","Out of Office acknowledged - Putting ticket on hold until client returns"
"Voicemail - Callback","Left a voicemail for callback with client."
"Voicemail - Followup","Left a voicemail for followup with client."
"Email - Callback","Left an email for callback with client."
"Email - Followup","Left an email for followup with client."
"Quickpart - Callback","Hey 

I've received your ticket on this issue, can you please give me a call when you have 10-20 minutes of free time to look at this?

780-669-9955 - Ask for Dylan.

Thanks!"
"Quickpart - Followup","Hey 

Just following up to see if this issue is still occurring for you as I haven't heard back yet.

Thanks!"
